<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<body>

<div>
    <div class="bgDiv">
        <div class="login">
            <img class="logoImg" th:src="@{image/img2.jpg}"/>
            <div class="username">
                <img class="userImg" th:src="@{image/img3.jpg}" width="20" height="20"/>
                <input id="userInp" class="userInp" type="text" placeholder="请输入用户名"/>
            </div>
            <div class="pwd">
                <img class="pwdImg" th:src="@{image/img1.jpg}"/>
                <input id="pwdInp" class="pwdInp" type="password" placeholder="请输入密码"/>
            </div>
            <button class="btn" onclick="login()">登录</button>
        </div>
    </div>
</div>

</body>
<script>
    function login() {
        let name = document.getElementById("userInp").value;
        let pwd = document.getElementById("pwdInp").value;
        $.ajax({
            url : "/getUserByName",// 获取自己系统后台用户信息接口
            data :{"pwd":pwd,"name":name},
            type : "POST",
            dataType: "json",
            success : function(data) {
                if (data){
                    window.location.href = "/login";
                }
            },
            error : function(data){
                window.alert("用户名或者密码错误，请重新输入");
            }
        });
    }
</script>
</html>