<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>鼎向电力-登录界面</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style=" background: url(/img/company_background.png) no-repeat center center fixed; background-size: 100%;">

<div class="modal-dialog" style="margin-top: 10%;">
    <div class="modal-content">
        <div class="modal-header">
            <img src="/img/company_logo.jpg" class="form-group img-thumbnail center-block" width="85%"/>
            <h1 class="modal-title text-center" id="myModalLabel"><span class="label label-primary">鼎 向 电 力 系 统 账 号 登 录</span></h1>
        </div>
        <div class="modal-body" id = "model-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="text" class="form-control" id="userInp" placeholder="用户名" autocomplete="off">
                </div>

            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input type="password" class="form-control" id="pwdInp" placeholder="密码" autocomplete="off">
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <button type="button" class="btn btn-primary form-control" onclick="login()">登 录</button>
            </div>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

</body>
<script>
    function login() {
        let name = document.getElementById("userInp").value;
        let pwd = document.getElementById("pwdInp").value;
        $.ajax({
            url : "/getUserByName",// 获取自己系统后台用户信息接口
            data :{"pwd":pwd,"name":name},
            type : "POST",
            dataType: "json",
            success : function(data) {
                if (data){
                    window.location.href = "/manage_core";
                }
            },
            error : function(data){
                window.alert("用户名或者密码错误，请重新输入");
            }
        });
    }
</script>
</html>