<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>鼎向电力-管理界面</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style=" background: url(/image/company_background.png) no-repeat center center fixed; background-size: 100%;">

<img src="/image/company_logo.jpg" class="form-group img-thumbnail" width="20%"/>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" th:class="${sheetheader}"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">站点信息-查询</a></li>
    <li role="presentation" th:class="${sheetheader2}"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">图片信息-查询</a></li>
    <li role="presentation" th:class="${sheetheader3}"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">图片信息-上传</a></li>
    <li role="presentation" th:class="${sheetheader4}"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">未开发2</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" th:class="${sheet}" id="home">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <br>
            <div class="col-lg-6">
                <div class="input-group">
                    <input id = "stationname" type="text" class="form-control" placeholder="请输入你要查询的站点名称">
                    <span class="input-group-btn">
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" onclick="select()">查询</button>
                        </div>

                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#addStation">添加</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <br><br>
            <div class="panel-body">
                <table id = "cen-table" class="table table-bordered" style=" background: url(/image/company_background.png) no-repeat center center fixed; background-size: 100%;">
                    <thead>
                    <tr>
                        <th>供电站序号</th>
                        <th>供电站名称</th>
                        <th>电压等级</th>
                        <th>供电站描述</th>
                    </tr>
                    </thead>
                    <tbody th:each="ps:${psList}">
                    <tr>
                        <td th:text="${ps.id}"></td>
                        <td th:text="${ps.name}"></td>
                        <td th:text="${ps.voltage_level}"></td>
                        <td th:text="${ps.desc}"></td>
                        <td><div class="btn-group" role="group">
                            <button th:station_id="${ps.id}"  th:station_name="${ps.name}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" onclick = "delete_station(this)">删除</button>
                        </div></td>
                        <td>
                            <button th:station_id="${ps.id}"  th:station_name="${ps.name}" type="button" class="btn btn-success" data-toggle="modal" data-target="#upload_file_Modal" onclick = "uploadFile_action(this)">上传</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" th:class="${sheet2}" id="profile">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input id = "imagename" type="text" class="form-control" placeholder="请输入图片名称...">
                        <span class="input-group-btn">
                             <button class="btn btn-default" type="button" onclick="queryImage()">查询</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                </div>
                <br>
                <table id = "image-table" class="table table-bordered" style=" background: url(/image/company_background.png) no-repeat center center fixed; background-size: 100%;">
                    <thead>
                    <tr>
                        <th>图片序号</th>
                        <th>图片原先名称</th>
                        <th>图片类型</th>
                        <th>图片大小</th>
                        <th>图片名称</th>
                        <th>图片描述</th>
                        <th>图片所属站点名称</th>
                    </tr>
                    </thead>
                    <tbody th:each="psi:${psiList}">
                    <tr>
                        <td th:text="${psi.id}"></td>
                        <td th:text="${psi.origin_name}"></td>
                        <td th:text="${psi.file_type}"></td>
                        <td th:text="${psi.file_size}"></td>
                        <td th:text="${psi.file_name}"></td>
                        <td th:text="${psi.file_desc}"></td>
                        <td th:text="${psi.power_station_id}"></td>
                        <td><div class="btn-group" role="group">
                            <button th:data="${psi.id}" type="button" class="btn btn-primary" onclick = "downloadimage(this)">下载</button>
                            <button th:data="${psi.file_name}" type="button" class="btn btn-primary" onclick = "viewimage(this)">预览</button>
                            <button th:data="${psi.id}" type="button" class="btn btn-primary" onclick="downloadqrcodeimage(this)">下载二维码</button>
                            <button th:image_id="${psi.id}"  th:image_name="${psi.origin_name}" type="button" data-toggle="modal" data-target="#deleteImage" class="btn btn-danger" onclick="delete_image(this)">删除</button>
                        </div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" th:class="${sheet3}" id="messages">
        <div class="panel panel-default">
            <div class="panel-heading">未开发</div>
        </div>
    </div>
    <div role="tabpanel" th:class="${sheet4}" id="settings">Foulth</div>



    <!-- 删除站点 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>您确认执行该操作吗？</strong></h4>
                </div>
                <div class="modal-body">
                    此操作无法撤消。这将永久删除 [<strong id = 'strong_station'></strong>] 该站点信息并删除该站点下保存的所有图片信息！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick = "confirm_delete_station()">确认删除</button>
                </div>
            </div>
        </div>
    </div>

    <!--添加站点-->
    <div class="modal fade" id="addStation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>该操作会增加一个站点</strong></h4>
                </div>
                <div class="modal-body">

                    <div class="input-group">
                        <input id = 'addstationname' type="text" class="form-control" placeholder="请输入您要添加的站点名称(必填)" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">站</span>
                    </div>
                    <br>
                    <div class="input-group">
                        <input id = 'addstationvoltage_level' type="text" class="form-control" placeholder="请输入站点电压等级(必填)" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">kv</span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">请输入站点描述信息</span>
                        <input id = 'addstationdesc' type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder = "非必填">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick = "confirm_add_station()">确认添加</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除站点 -->
    <div class="modal fade" id="deleteImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>您确认执行该操作吗？</strong></h4>
                </div>
                <div class="modal-body">
                    此操作无法撤消。这将永久删除 [<strong id = 'strong_image'></strong>] 该图片信息！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick = "confirm_delete_image()">确认删除</button>
                </div>
            </div>
        </div>
    </div>

    <!--上传图片-->
    <div class="modal fade" id="upload_file_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <strong>您确认执行该操作吗？</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">站点名称  </span>
                        <input id = "image_upload_station_name" type="text" class="form-control" aria-describedby="basic-addon2" readonly = "readonly">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">请输入图片描述信息</span>
                        <input id = 'image_desc' type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder = "非必填">
                    </div>
                    <br>
                    <div class="input-group">
                        <label for="upFile">
                            <div id="upFileBtn" class="btn btn-primary" type="button">选择图片</div>
                        </label>
                        <input id="upFile" name="multipartFile" style="display:none" type="file">
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="uploadFile()">确认上传</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    window.deletestationid = '-1' ;
    window.deletestationname = '-1' ;
    window.uploadStationId = '-1' ;
    window.uploadStationName = '-1' ;
    window.deleteImageId = '-1' ;
    window.deleteImageName = '-1' ;

    function select() {
        var stationName = document.getElementById("stationname").value;
        window.location.href="/getStationByName?name=" +stationName + "";
    }
    function downloadImg() {
        window.location.href="/downloadImg";
    }
    function delete_station(obj){
        window.deletestationid = $(obj).attr("station_id")
        window.deletestationname = $(obj).attr("station_name")
        $('#strong_station').text(window.deletestationname)
    }

    function delete_image(obj){
        window.deleteImageId = $(obj).attr("image_id")
        window.deleteImageName = $(obj).attr("image_name")
        $('#strong_image').text(window.deleteImageName)
    }

    <!--确认删除已存在的站点-->
    function confirm_delete_station(){
        const station_id = window.deletestationid;
        const station_name = window.deletestationname;
        window.deletestationid = '-1' ;
        window.deletestationname = '-1' ;
        window.location.href = "/deleteStationById?id="+station_id+"";
    }

    <!--确认添加新的站点-->
    function confirm_add_station(){
        const addstationname = $('#addstationname').val() + "站"
        const addstationvoltage_level = $('#addstationvoltage_level').val() + "kV"
        const addstationdesc = $('#addstationdesc').val()
        $('#addstationname').val("")
        $('#addstationvoltage_level').val("")
        $('#addstationdesc').val("")
        window.location.href = "/insertStation?name=" + addstationname+ "&voltage_level=" + addstationvoltage_level + "&desc=" + addstationdesc+ "";
    }

    <!--确认删除已存在的图片-->
    function confirm_delete_image(){
        const imageId = window.deleteImageId
        var formData = new FormData();
        formData.append("fileId",imageId);
        $.ajax({
            type:'post',
            url:'/deleteFile',
            processData: false,
            contentType:false,
            data:formData,
            success:function (msg) {
                window.location.href="/manage_core"
            }
        })
    }

    function downloadimage(obj){
        const fileId = $(obj).attr("data")
        window.location.href = "/downloadFile/" + fileId
    }

    function viewimage(obj){
        const filename = $(obj).attr("data")
        window.open("/image/"+filename)
    }

    function downloadqrcodeimage(obj){
        const fileId = $(obj).attr("data")
        window.location.href = "/downloadQRcodeFile/" + fileId
    }


    function queryImage(){
        let imagename = document.getElementById("imagename").value;
        window.location.href = "/queryFile?imageName="+imagename+"";
    }

    function uploadFile_action(obj){
        const uploadStationId = $(obj).attr("station_id")
        const uploadStationName = $(obj).attr("station_name")
        window.uploadStationId = uploadStationId;
        window.uploadStationName = uploadStationName;
        $("#image_upload_station_name").val(uploadStationName)
    }

    function uploadFile() {
        var file = $("#upFile")[0].files[0];
        var formData = new FormData();
        formData.append("file",file);
        formData.append("stationId",window.uploadStationId);
        formData.append("img_desc",$('#image_desc').val());
        $.ajax({
            type:'post',
            url:'/uplodeFile',
            processData: false,
            contentType:false,
            data:formData,
            success:function (msg) {
                window.location.href="/manage_core"
            }
        })
    }

</script>
</html>