<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>鼎向电力-管理界面</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style=" background: url(/img/company_background.png) no-repeat center center fixed; background-size: 100%;">

<img src="/img/company_logo.jpg" class="form-group img-thumbnail" width="20%"/>


<div role="tabpanel" id="home">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>鼎向电力-供电站明细</strong></div>
        <br>
        <div class="col-lg-6">
            <div class="input-group">
                <input id = "stationname" type="text" class="form-control" placeholder="请输入你要查询的站点名称">
                <span class="input-group-btn">
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" onclick="select()">查询</button>
                        </div>

                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#addStation">添加</button>
                    </span>
            </div><!-- /input-group -->
        </div>
        <br><br>
        <div class="panel-body">
            <table id = "cen-table" class="table table-bordered" style=" background: url(/img/company_background.png) no-repeat center center fixed; background-size: 100%;">
                <thead>
                <tr>
                    <th>供电站序号</th>
                    <th>供电站名称</th>
                    <th>电压等级</th>
                    <th>供电站描述</th>
                </tr>
                </thead>
                <tbody th:each="ps:${psList}">
                <tr>
                    <td th:text="${ps.id}"></td>
                    <td th:text="${ps.name}"></td>
                    <td th:text="${ps.voltage_level}"></td>
                    <td th:text="${ps.desc}"></td>
                    <td><div class="btn-group" role="group">
                        <button th:station_id="${ps.id}"  th:station_name="${ps.name}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" onclick = "delete_station(this)">删除</button>
                    </div></td>
                    <td>
                        <button th:station_id="${ps.id}"  th:station_name="${ps.name}" type="button" class="btn btn-success" data-toggle="modal" data-target="#upload_file_Modal" onclick = "uploadFile_action(this)">上传</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>